parameters:
	level: 8
	paths:
		- src/
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
	excludePaths:
		- src/Storage/
	bootstrapFiles:
		- tests/bootstrap.php
	earlyTerminatingMethodCalls:
		Cake\Console\Shell:
			- abort
	ignoreErrors:
		- '#Cannot cast array\<string\>\|string to string#'
