parameters:
	level: 8
	paths:
		- src/
	excludePaths:
		- src/Shell/
	bootstrapFiles:
		- tests/bootstrap.php
	earlyTerminatingMethodCalls:
		Cake\Console\BaseCommand:
			- abort
	ignoreErrors:
		- identifier: missingType.iterableValue
		- identifier: missingType.generics
